/* navbar start */

#mainNavbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #14549a;
    z-index: 2;
}

.services{
    background-color:;
    position: absolute;
    text-align: center;
    margin-left:6%;
    margin-top: 8%;
}
.p-text{
    text-align: justify;

}
.p-link{
    text-decoration: none;
    color: red;
    text-align: justify;
}

#mainNavbar .navbar-brand {
    color: white;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 0.063em;
}

#mainNavbar .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat",
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 1rem;
    color: white;
    letter-spacing: 0.06em;
}

#mainNavbar .navbar-nav .nav-item .nav-link.active,
#mainNavbar .navbar-nav .nav-item .nav-link:hover {
    color: white;
}

@media(max-width:991.98px) {
    .offcanvas-header{
        background-color: #14549a;
        color: white!important;
    }
    .offcanvas-body{
        background-color: #14549a;
        color: white!important;
    }
   
    #mainNavbar .navbar-nav .nav-item .nav-link {
        color:white;

    }
    .p-modal .modal-content h2{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .p-modal .close-modal{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        
    }
    .img-logo{
        width: 50%;
        height: 40%;
    }
    
}
@media(min-width:991.98px) {

}